$brand-theme-color: #28B389; // 品牌主题色

$border-color: #e0e0e0; // 边框色
$border-light-color: #efefef; // 边框亮色

$text-font-color-1: #000; // 文字主色调
$text-font-color-2: #676767; // 副标题颜色
$text-font-color-3: #a7a7a7; // 文字浅色
$text-font-color-4: #e4e4e4; // 更浅的颜色 

